#cf2 {
  position: relative;
  width: 100vw;
  height: 65vh;
  overflow: hidden;
  margin-bottom: 50px;
}

#cf2 div.transparent {
  opacity: 0;
}

#cf2 div.photo {
  position: absolute;
  top: 0;
  width: 100vw;
  height: 65vh;
  object-fit: cover;
  transition: opacity 1s ease-in-out, transform 10s;
  background-size: cover;
  background-position: center;
}

#cf2 div.zoom {
  transform: scale(1.2);
}
